<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asiantech.dev.audioplayer" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AudioPlayerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service
            android:name="asiantech.dev.audioplayer.service.SongService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".receiver.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.tutorialsface.audioplayer.delete" />
                <action android:name="com.tutorialsface.audioplayer.pause" />
                <action android:name="com.tutorialsface.audioplayer.next" />
                <action android:name="com.tutorialsface.audioplayer.play" />
                <action android:name="com.tutorialsface.audioplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
